//variables
//main is a dark blue
$color-main-primary:#00003d;
$color-main-white:#fff;
$color-main-black:#000;
$color-purple:#460a86;
$color-green:#007900;
$color-dot-green:#007900;
$color-dot-purple:#460a86;
$color-orange:#ee710c;
$color-yellow:#fbcb43;


* {
    box-sizing: border-box;
}

/****base styles and layout***/
  html {
      overflow-x: hidden;
      width: 100%;
      //font-size equal to 10px so 1rem=10px
      font-size:62.5%;
  }
  
  body {
      margin: 0;
      text-align: center;
      font-family: 'Nunito', sans-serif;
      line-height: 1.4;
      color:$color-main-primary;
      overflow-x: hidden;
      width: 100%;
  }

  p{
      font-size:1.75rem;
  }

  ul{
      padding-inline-start: 0;
  }

  li{
    padding-top:20px;
    list-style-type: none;
}

a{
    color:$color-main-primary;
    text-decoration:none;

    &:hover {
        cursor: none;
    }
}


h1,h2, h3{
    font-family: 'Michroma', sans-serif;
}

h1{
    margin: 0;
    font-size:2.3rem;
}

h2{
    margin: 0;
    text-align:center;
    font-size:2rem;
}

 h3{
     font-size: 2rem;
     margin:0;
     text-align:center;
 }

.note{
    font-size:1.4rem;
}

.small-font{
    font-size:1.25rem;
    margin-block-start: .25em;
    margin-block-end: .25em;
}/*to decrease the spacing between p and h on mobile*/
  
  h2 + p {
      margin-block-start: .5em;
  }
  
  header{
      position: fixed;
      z-index: 100;
      border-bottom: 1px gray solid;
      width: 100%;
      text-align: right;
      height: 55px;
  }

.main--interior{
    margin-top:85px;
}

.nav{
    display:none;

    &.mobile-nav{
        display:block;
        position: absolute;
        right: 0;
        height: 100vh;
        width: 100%;
        top: 0; 
    }
}

.nav__list{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: block;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top:2px;

    //next two style should have same padding 
    &-item{
        padding-top:40px;
        width:100px;
    }

    &-with-sub{
        padding-top:40px;
    }
}

.mobile-nav .nav__list{
    flex-direction: column;   
}

.nav__list-with-sub > li:nth-child(1){
    padding-top:0;
}

.header__mobile-menu-icon-container {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index:100;

    &--bar1,&--bar2,&--bar3{
        width: 35px;
        height: 5px;
        margin: 6px 0;
    }
}

.section {
    position: relative;
    padding:30px 10px; 

    &--home{
        height: 50vh;
    }
    
    &--contact{
        padding-bottom:0;
    }

    &--about{
        padding:0px; 
    }

    &__about-container{
        padding:30px 20px; 
    }

}

.body--interior section{
    padding:25px 15px;
    padding-bottom:0px;
}

blockquote{
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-style: italic;
    font-size: 1.65rem;
}

cite {
       display: inline-block;
}
   
.block{
    display:block;
}

//give this a class
.section--home a{
    padding: 10px;
    display: block;
    width: 160px;
    margin:auto;
    margin-top: 15px;
}

.main__heading--secondary{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top:10px;
}

.centered-content {
    margin-top: 65px;
    width: 100%;
}

.button{
    margin:auto;
    margin-bottom:10px;
    padding: 10px;
    border: 1px solid $color-green;
    width: 120px;
    background-color: $color-main-white;
    display:block;
    font-size:1.8rem;
    text-align:center;

    &:hover{
        cursor:pointer;
    }

    &--wider{
      width:150px;
      margin: 10px;
    }

    &--solo{
        display:block;
        margin:auto;
        margin-top:25px;
        width:150px;
        text-align:center;
    }
}


.button-container--toggle-work {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 30px auto;
    margin-bottom: 60px; 

    .button{
        padding: 7px;
        width:150px;
    }
}


.work-image {
    max-width: 300px;
    display: block;
    margin: auto;
}

//not sure if these are being used
/*
.work-thumbnail {
    width: 220px;
    height: 200px;
    margin: 20px auto;
}

.blog-thumbnail {
    width: 220px;
    height: 200px;
    margin: 20px auto;
}
.thumb-size-button {
    padding: 5px 10px;
}
*/
.contact-form {
    width: 325px;
    height: 300px;
    margin: 20px auto;
    display:none;
}

//back to top button - change classname
.icon-button svg{
    width: 40px;  
}

.social {
    margin-bottom: 50px;
    
    &--interior{
        margin-bottom:1rem
    }
}

.social svg, .icon-button svg{
    width: 60px;
}

.icon--white{
    fill:#FFFFFF;
}
.icon--blue{
    fill:$color-main-primary;
}
.icon--green{
    fill:$color-green;
}
.icon--purple{
    fill:$color-purple;
}

.icon-button:hover .icon--blue,.social a:hover .icon--green,.social a:hover .icon--purple{
    fill:$color-orange;
    cursor: pointer;
}

.display__desktop{
    display: none;
}

.work-container__example{
    display: none;
    margin-top: 60px;
    position:relative;
    cursor:pointer;   

    &__heading{
        margin-bottom:-25px;
    }

    &__button {
        display: inline-block;
        padding: 7px 14px;
        width: 165px;
    }
    
    &__button--mobile {
      display: block;
      padding: 6px;
      width: 115px;
      margin:auto;
      margin-top:0px;
    }
    &:hover{
        cursor:pointer;
    }
}
  
.work-links a {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration:underline;
    font-size:1.6rem;
}
//needs to be fixed; until then needs to be after .work-container__example display:none
.js-toggle__display{
    display: block;
}

.marker {
    height: 15px; 
}

.work-image-container {
    width: 300px;
    height: 225px;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    cursor:pointer;

    &__description{
        max-width:600px;
    }

    &__mask {
        width: 300px;
        height: 225px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    &__image {
        display: block;
        position: relative;
        width:300px;
        padding-top: 37.5px;
    }
    &__heading{
        position: relative;
        padding: 10px;
        margin: 20px 0 0 0
    }

    p{
        position: relative;
        padding: 10px 15px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

/*****interior pages***/
  .work-section{
    margin-top:0em;
}

.tech-lists__container--used {
    padding-top: 50px;
}

.tech-lists__container--roles {
    margin-top: 1em;
}

.container--individual-work-example {
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 0;
}

.body--interior h1 {
    padding-left:0px;
    padding-top:10px;
    padding-bottom: 5px;
    width: 90%;
    margin: auto;
}

.section__image {
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 1em;
}

 //layout
 .section--intro{
    display:flex;
    flex-direction:column;
    align-items: center;
}

.section--work-example-description{
    display:flex;
    flex-direction:column;
}

.button-container--cta{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    
    padding-top:0;
}

 /***My Role and Technology Buttons****/
 .list--tech{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.list__item--role, .list__item--tech {
    width: 145px;
    height: 45px;
    line-height: 42px;
    padding: 0;
    display: inline-block;
    margin-top:10px;
}

.list__item--role{
    height:48px;
    line-height: 45px;
}

.list__item--tech{
    width:117px;
}

.list__item--role-2-lines {
    height: 48px;
    line-height: 21px;
}

.mobile-display{
    display:block;
}

.desktop-display{
    display:none;
}

.section__about-container__list{
  position:relative;
  padding-inline-start: 0px;
}

.section__about-container__list-item {
    padding-top: 0px;
    line-height: 1.75;
}

.section__about-container__list-item--heading {
    padding-bottom: 5px;
    padding-top:15px;
    line-height:1.4;
    font-family: 'Michroma', sans-serif;
}

.section__about-container__list-item--heading--1 {
  padding-top: 9px;
}


/*****end base styles and layout*****/
  

  /*next three classes need to be in this order*/
  .no-scroll-header{
      background-color: $color-main-white;
  }
  
  .scroll-header{
      background-color: $color-main-white;
  }
  
  .header--blue-white {
      background-color: $color-main-primary;
      color:$color-main-white;
  }
  
  .nav.mobile-nav{
      background-color: $color-main-primary; 
  }
  
  .mobile-nav .nav__list-item-link{
      color: $color-main-white;
      text-decoration:none;
  }

  .mobile-nav .nav__list-item:hover{
    border-bottom:2px $color-orange solid;
}
  
  .nav__list-item-link {
      font-size:2.25rem
  }

  .nav__list{
      list-style-type: none;
  }
  
  .mobile-nav .nav__list{
    align-items: center;     
  }
  
  .nav__list-item{
      text-align:center;
  }
 
  .header__mobile-menu-icon-container {
      cursor: pointer;
}
  
  .header__mobile-menu-icon-container--bar1,
  .header__mobile-menu-icon-container--bar2, 
  .header__mobile-menu-icon-container--bar3 {
      background-color:  $color-purple  ;
      transition: 0.4s;
  }
  
  .header__mobile-menu-icon-container--bar2{
      background-color:$color-main-primary;
  }
  
  .header__mobile-menu-icon-container--bar3{
      background-color:$color-green;
  }
  
  .header--blue-white .header__mobile-menu-icon-container--bar1, .header--blue-white .header__mobile-menu-icon-container--bar2, .header--blue-white .header__mobile-menu-icon-container--bar3 {
      background-color: $color-yellow ;
  }
  
  .header--blue-white .header__mobile-menu-icon-container--bar2{
      background-color:$color-main-white;
  }
  
  .header--blue-white .header__mobile-menu-icon-container--bar3{
      background-color:$color-orange;
  }
  
  /* Rotate first bar */
  .change .header__mobile-menu-icon-container--bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
      background-color:$color-yellow; 
    }
    /* Fade out the second bar */
    .change .header__mobile-menu-icon-container--bar2 {
      opacity: 0;
    }
    
    /* Rotate last bar */
    .change .header__mobile-menu-icon-container--bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(43deg) translate(-8px, -8px) ;
      background-color:$color-orange;
    }
  
  section {
      text-align:left;
  }
  
  .section--about{
      background-color:$color-main-primary;
      color:$color-main-white;
  }
  
  .section--work {
      background-color: $color-main-white;
  }

  .white-link{
      color:$color-main-white;  
  }
  
  .section--work--heading{
      text-align: center;
  }
  
  .section--home{
      text-align:center;
  }
  
  .section--home a{
      font-size:1.75rem;
      border: 2px solid $color-green;
      background-color: $color-main-white;
      text-decoration: none;
      text-align: center;
  }
  
  .main__heading--secondary{
      text-align: center;
      font-size: 1.9rem;
      font-style: italic;
  }
  
  .centered-content {
      text-align: center;
  }
  
  #blog{
      background-color:$color-main-primary;
      color:$color-main-white;
  }

  .button.button-active{
      background-color: $color-green;
      color:$color-main-white
  }
  
  .button--orange-blue{
    border: 1px solid $color-orange;
    background-color:$color-main-primary;
    color:$color-main-white;
  }
  
  .button--blue{
      border: 1px solid $color-main-primary;
  }
  
  .button--purple{
      border: 1px solid $color-purple;
  }
  .button--orange{
      border: 1px solid $color-orange;
  }
  
  /*
  .button--blue:hover{
      border: 1px solid $color-orange;
  }
  
  .button--green:hover {
      border: 1px solid $color-orange;
  }
  */
  .button--purple:focus {
      outline: $color-purple 5px auto;
  }
  
  .button--orange:focus, .button--orange-blue:focus{
      outline: $color-orange 5px auto; 
  }
  
  .button--green:focus {
      outline: $color-green 5px auto;
  }
  
  .button--blue:focus {
      outline: $color-main-primary 5px auto;
  }
  
  .button--green.button-active {
      border: 1px solid $color-green;
      background-color: $color-green;
      color:$color-main-white;
  }
  
  .button--blue.button-active{
      border: 1px solid $color-main-primary;
      background-color: $color-main-primary;
      color:$color-main-white;
  }
  
  .button--purple.button-active{
      border: 1px solid $color-purple;
      background-color: $color-purple;
      color:$color-main-white;
  }
  .orange-button.button-active,.button--orange-blue.button-active{
      border: 1px solid $color-orange;
      background-color: $color-orange;
      color:$color-main-white;
  }
  
  .work-thumbnail {
      border: 1px solid $color-main-black;
  }
  
  .blog-thumbnail {
      border: 1px solid $color-main-white;
  }
  
  .contact-form {
    border: 1px solid $color-main-black;
  }
  
  .thumb-size-button {
      border:$color-main-black 1px solid;
  }

  .work-container__example__heading{
      text-align:center;
  }
  
  .work-image-container {
      text-align: center;
      //cursor: default;
  }

  .work-image-container__heading{
      text-transform: uppercase;
      color: $color-main-white;
      text-align: center;
      font-size: 1.5rem;
      background: rgba(0, 0, 0, 0.8);
  }

  .work-image-container p {
      font-size: 1.7rem;
      color: $color-main-white;
      text-align: center;
  }

  .work-container__example__button {
      background: $color-orange;
      color: $color-main-white;
      text-transform: uppercase;
      box-shadow: 0 0 1px $color-main-black;
  }

  .work-container__example__button--mobile {
    text-decoration: none;
    background-color: $color-purple;
    border:2px solid $color-purple;
    color: $color-main-white;
    text-transform: uppercase;
    box-shadow: 0 0 1px $color-main-black;
    font-size: 1.4rem;
    text-align: center;
    z-index:400;
    cursor:pointer;

    &:hover{
        cursor:pointer;
    }
}
  
  .work-image-container__image { 
      transform: scaleY(1);
      transition: all 1.4s ease-in-out;
  }

  .work-image-container__mask { 
      background-color: rgba(0, 0, 61, 1); 
      transition: all .5s linear;
      opacity: 0;
  }	
  
  .work-image-container__heading{
      border-bottom: 1px solid $color-main-white;
      background: transparent;
      transform: scale(0);
      color: $color-main-white;
      transition: all 1s linear;
      opacity: 0;
  }

  .work-image-container-effect p {
      color: $color-main-white;
      opacity: 0;
      transform: scale(0);
      transition: all 1s linear;
  }
  .work-image-container-effect a.info { 
      opacity: 0;
      transform: scale(0);
      transition: all 1s linear;
  }
  
 
  /*****interior pages***/
 
  .body--interior h1 {
      text-align: center;
      border-bottom: 2px solid $color-orange;
  }
   
  .section__image-border{
      border:1px solid $color-main-primary;
  }
  
  .button-container--cta .button:hover{
      border: 2px solid $color-green;
  }
  
  .contact-button{
      width: 150px;
      border: 0px solid $color-green;
      background-color: $color-green;
      color: $color-main-white
  }
  
  .button-container--cta .contact-button:hover{
      background-color: $color-main-white;
      color:$color-purple;
      border:1px $color-purple solid;
  }
  
  .button-container--cta a:nth-child(2){
      order:3;
  }
  
  .button--bouncy{
      -webkit-animation: bouncy 5s infinite linear;
      animation: bouncy 5s infinite linear;
      position:relative;
  }
  
  .button--bouncy:nth-child(2){
      animation-delay: .07s;
  }
  
  .button--bouncy:nth-child(3){
      animation-delay: .14s;
  }
  
  @keyframes bouncy{
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em}
  }    
  
  @-webkit-keyframes bouncy{
      0%{top:0em}
      40%{top:0em}
      43%{top:-0.9em}
      46%{top:0em}
      48%{top:-0.4em}
      50%{top:0em}
      100%{top:0em}
  } 
  
  /***My Role and Technology Buttons****/
  
  .list__item--role, .list__item--tech {
      border-bottom: 2px solid $color-orange;
      border-color:$color-orange;
      vertical-align: middle;
      text-align: center;
      font-size:1.75rem;
  }
  
  
  @keyframes role-item {
      0%        {border-color: $color-orange}
      20%       {border-color:$color-yellow}
      40%, 100% {border-color: $color-orange}
    }
  .list__item--role {
      -webkit-animation: role-item 2s ease infinite;
      animation: role-item 2s ease infinite;
  }
  
  @keyframes role-item-2 {
      0%        {border-color: $color-purple}
      20%       {border-color: $color-yellow}
      40%, 100% {border-color: $color-purple}
    }
  .list__item--role-2 {
      -webkit-animation: role-item-2 4s ease infinite;
      animation: role-item-2 4s ease infinite;
      animation-delay: .2s;
  }
  
  @keyframes role-item-3 {
      0%        {border-color: $color-main-primary}
      20%       {border-color:$color-yellow}
      40%, 100% {border-color: $color-main-primary}
    }
  .list__item--role-3 {
      -webkit-animation: role-item-3 4s ease infinite;
      animation: role-item-3 4s ease infinite;
      animation-delay: .4s;
  }
  @keyframes role-item-4 {
      0%        {border-color: $color-green}
      20%       {border-color:$color-yellow}
      40%, 100% {border-color: $color-green}
    }
  .list__item--role-4 {
      -webkit-animation: role-item-4 4s ease infinite;
      animation: role-item-4 4s ease infinite;
      animation-delay: .6s;
  }
  
  @keyframes tech-item {
      0%        {border-color: $color-orange}
      20%       {border-color: $color-yellow}
      40%, 100% {border-color:$color-orange}
    }
  .list__item--tech {
      -webkit-animation: tech-item 3s ease infinite;
      animation: tech-item 3s ease infinite;
  }
  
  @keyframes tech-item-2 {
      0%        {border-color: $color-purple}
      20%       {border-color: $color-yellow}
      40%, 100% {border-color: $color-purple}
    }
  .list__item--tech-2 {
      -webkit-animation: tech-item-2 4s ease infinite;
      animation: tech-item-2 4s ease infinite;
      animation-delay: .2s;
  }
  
  @keyframes tech-item-3 {
      0%        {border-color: $color-main-primary}
      20%       {border-color: $color-yellow}
      40%, 100% {border-color: $color-main-primary}
    }
  .list__item--tech-3 {
      -webkit-animation: tech-item-3 4s ease infinite;
      animation: tech-item-3 4s ease infinite;
      animation-delay: .4s;
  }
  @keyframes tech-item-4 {
      0%        {border-color: $color-green}
      20%       {border-color: $color-yellow}
      40%, 100% {border-color: $color-green}
    }
  .list__item--tech-4 {
      -webkit-animation: tech-item-4 4s ease infinite;
      animation: tech-item-4 4s ease infinite;
      animation-delay: .6s;
  }
 
  .section__about-container__list-item {
      font-size: 1.75rem;
  }
  
  .section__about-container__list-item--heading {
      font-size: 1.8rem;
  }

  

  /********Media Queries*********/
  
  @media only screen and (min-width:500px){
/****layout*****/
  .section--home {
          height: 80vh;
      }
  
  .image-wrapper{
      height:375px;
  }
  
  .work-image-container {
      width: 450px;
      height: 337.5px;
   }

 .work-image-container__mask{
      width: 450px;
      height: 337.5px;
  }
  .work-image-container__image {
      width:450px;
      padding-top:56.25px;
  }
  
  .work-container__example__heading{
      margin-bottom:-45px;
  }
  .work-container__example__button--mobile{
      //margin-top:-25px;
  }
  
  .work-image {
      max-height: 350px;
      max-width: none;
      border: solid 1px $color-main-primary;
  }
  .section__image {
      max-width: 450px;   
  }

    /***end of layoutmx500****/
    .work-image {
        border: solid 1px $color-main-primary;
    }
  }/*end of MQ500*/
  
  
  @media only screen and (min-width:760px){
 /***layout***/
 .nav__list-item {
    padding-top:25px;
}

.header__mobile-menu-icon-container{
    display:none;
}

.body--interior section {
    padding: 20px 25px;
}

.work-container__example {
    margin-top:85px;
}

.work-image-container {
    width: 510px;
    height: 382.5px;
 }
.work-image-container__mask {
    width: 510px;
    height: 382.5px;
}
.work-image-container__image {
    width:510px;
    padding-top:63.75px
}

.section--work-example-description{
    flex-direction:row;
    justify-content: space-between;
}
.section__container--description{
    max-width:500px;
    margin: 0 20px;
    width:48%;
}

.section__container--description.no-updates-section{
    max-width:800px;
    width:100%;
}

.section__image {
    max-width: 650px;   
}

.nav {
    display: block;
    width: 425px;
    position: absolute;
    right: 10px;
}

.nav__list li, ul.nav__list-with-sub {
    width: 75px;
    padding-top: 5px;
    padding-bottom:5px
}

.nav__list-with-sub li{
   width: 225px;
   border-bottom: 2px solid #fff;

   &:hover{
    display:block;
    background-color: #00003d;
    border: 0px solid #fff;
    border-bottom: 2px solid #fff;
   }
}

.nav__list-with-sub > li:nth-child(1) {
    padding-top: 0;
    display:block;
    width:75px;
}

.nav__list__sub-nav-container {
    display: none;
    position: absolute;
    right:5px;
    top:33px;
    min-width: 160px;
    z-index: 1;
  }
  
.nav__list__sub-nav-container a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
  }

.nav__list__sub-nav-container li:nth-last-child(1) a {
    padding-bottom: 16px;
}

.nav__list-with-sub:hover .nav__list__sub-nav-container{
    display: block;
}

ul{
    margin-top: 0px;
}

header{
    height:45px;
}

.section--home {
    height: 60vh;
}

.button-container--cta a:nth-child(2){
    order:2;
}

.button-container--cta a:nth-child(3){
    order:3;
}

 /***end layout mw760***/
  .header__mobile-menu-icon-container--bar1, 
  .header__mobile-menu-icon-container--bar2, 
  .header__mobile-menu-icon-container--bar3 {
      background-color:  $color-purple  ;
    }
  
  .header__mobile-menu-icon-container--bar2{
      background-color:$color-main-primary;
  }
  
  .header__mobile-menu-icon-container--bar3{
      background-color:$color-green;
  }
  
  .nav__list-item a {
     font-size: 1.8rem;
  }   
  
  .nav__list-item a:hover {
      color:$color-green;
  }   
   
  .link-active{
      border-bottom: 3px $color-green solid;
  }
  
  .section__heading--tech-lists{
      text-align:center;
  }
 
  .nav__list-with-sub li:hover{
      //background-color:$color-orange;

  } 
  
  .nav__list-with-sub > li:nth-child(1) {
      background-color: transparent;
  }
  
  .nav__list__sub-nav-container {
      background-color:$color-orange;
      box-shadow: 0px 8px 16px 0px rgba($color-main-black,0.2);
    }
    
  .nav__list__sub-nav-container a {
      color: $color-main-white;
      text-decoration: none;
      text-align: left;
    }
    
    .nav__list__sub-nav-container a:hover {
      //background-color:$color-orange;
    }
   
  header{
      border-bottom:0px solid $color-main-primary;
      background-color:transparent;
      transition: border-bottom-width 2s ;
      border-bottom-width: 0px;
      box-shadow: 0px 0px 0px 0px rgba($color-main-black,.25);
  }
  
  .no-scroll-header{
      background-color: transparent;  
  }
  
  .scroll-header{
      background-color:$color-main-white;
      border-bottom: solid $color-orange;
      border-bottom-width:2px;
     box-shadow: 0px 1px 2px 0px rgba($color-main-black,.25);
  }
  
  .header--blue-white{
      background-color: $color-main-primary;
      color:$color-main-white;
  }
  
  .header--blue-white a{
      color:$color-main-white;
  }
  
  .nav__list-with-sub a {
      //border-bottom: 2px solid $color-main-white;
  }
  
  .header--blue-white a:hover {
      //border-bottom: 2px solid $color-orange;
      color:$color-main-white;
  }

  .nav__list-item--sub-nav a:hover {
    //border-bottom: 2px solid $color-main-primary;
}
  
  .header--blue-white a.focused-link{
      border-bottom:0px $color-orange solid;
  }
  
  
  .clearHeader.darkHeader {
  background:$color-main-black;
  }
 
  .list__item--role, .list__item--tech{
      font-size:1.85rem;
  }

  /******cursor*********/
  html {
    cursor: none;
  }
  .button:hover{
      cursor:none;
  }
  .icon-button:hover .icon--blue,.social a:hover .icon--green,.social a:hover .icon--purple{
    cursor: none;
}
.work-image-container, .work-container__example__button--mobile, .work-container__example{
    cursor:none;
}




  .cursor {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity:1;
    transition:opacity 300ms;
  }
  .cursor--small {
    width: 5px;
    height: 5px;
    left: -2.5px;
    top: -2.5px;
    border-radius: 50%;
    z-index: 110000;
    background: $color-orange;
  }

  .js-cursor--small-get-bigger{
    width: 7.5px;
    height: 7.5px;
  }

  .cursor--large, .cursor--border {
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
    border-radius: 50%;
    z-index: 110000;
    border: 2px solid $color-purple;
    transition:transform 50ms linear;
  }

  .cursor--border{
    width: 34px;
    height: 34px;
    left: -17px;
    top: -17px;
    border: 2px solid $color-main-white;
  }

  .js-cursor--hover{
      opacity:0;
  }

  .nav__list-item{
      border:0px solid $color-orange;
      transition:border 100ms;
      padding-bottom:5px;
      padding-top:5px;
  }

  .nav__list-item:hover{
    border:2px solid $color-orange;
  }

  .button:hover{
    border:2px solid $color-orange !important;
    border-radius:10px;
  }

  .work-container__example__button--mobile:hover{
      background-color:$color-main-white;
      color:$color-orange;
  }

  
  .main--landing-page, .main--landing-page a {
    cursor: none;
   }

  
  }/*end of MQ760px*/
  
  @media only screen and (min-width:960px){
    //layout
  .section--tech-lists {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  
  .tech-lists__container {
      width: 44%;
  }
  
  .tech-lists__container--used {
      padding-top: 0px;
      margin-top:1em;
  }
  
  .mobile-display{
      display:none;
  }
  
  .desktop-display{
      display:block;
  }

  .section__heading {
      text-align: center;
  }
  
  .section--home {
      height: 100vh;
  }
  
  .centered-content {
      margin-top: 0px;
      text-align: left;
      position: absolute;
      top: 230px;
      left: 75%;
      width:600px;
      transform: translate(-75%,-50%);
  }
  
  .main__heading--secondary{
      display: block;
      text-align: left;
  }
  
  .section--home a{
      margin:0;
      margin-top:15px;
  }
  
  .section--about {
      display: flex;
      justify-content: space-between;
      min-height: 960px;
  }
  
  .section__about-container{
      width: 48%;
      padding: 30px 40px;
      padding-bottom:100px;
  }
  
  /*.section__about-container--skills {
      width: 57%;
  }*/
  
  .section__about-container__list-item--2{
      line-height: 1.75;
  }
  
 
  .work-container {
      display: flex;
      justify-content: space-around;
      flex-wrap:wrap;
  }
  
  .work-container__example{
      width: 544px;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3em;
      margin-top: 3em;
  }
  
  .work-container__example.js-toggle__display{
     display:flex;
  }
  
  //layout
  .section__container--intro {
      max-width: 900px;
      margin-top: 1em;
  }
  
  .list--tech{
      margin-top: 5px;
  }
  
  /**hover effects for work examples on laptop and bigger devices*/
  .work-container__example__button--mobile{
      display:none;
  }
  
  .work-image-container a.info:hover {
      box-shadow: 0 0 5px $color-main-black;
  }
  
  .work-image-container-effect:hover img { 
  /*	transform: scale(10);*/
      opacity: 0;
  }
  .work-image-container-effect:hover .work-image-container__mask { 
      opacity: 1;
      //cursor: pointer;
  }																			 
  .work-image-container-effect:hover .work-image-container__heading,
  .work-image-container-effect:hover p,
  .work-image-container-effect:hover a.info{ 
      transform: scale(1);
      opacity: 1;
  }

  .work-container__example__button{
      cursor: none;
      transition: cursor 300ms;
  }

  .work-container__example__button:hover{
      border:2px $color-orange solid;
      background:$color-main-primary;
      border-radius:10px;
      //cursor: pointer;
  }
  
  .footer {
      display: flex;
      width: 100%;
      padding: 0 10px;
      justify-content: space-between;

      &--interior{
          margin-top:7rem;
      }
  }
  
  .footer__contact, .footer__other {
      width: 400px;
      display:flex;
      justify-content: space-between;
  }
  
  .footer__other{
      flex-direction: column;
      align-items: flex-end;
  }
  
  .section--contact--heading {
      text-align: left;
  }
  
  .body--interior h1 {
      text-align: center;
     // padding-left: 25px;
      padding-top: 25px;
  }

  .work-image-container-effect h3{
      margin: 20px 40px 0px 40px;
  }
  
  .work-image-container h3{
    //  font-size:17px
  }
   
  }/*end MQ 960*/
  
  @media only screen and (min-width:1060px){
  .section--about {
      min-height: 725px;
  }
  
  .section__heading {
      text-align: left;
  }
  
  .section__heading--tech-lists{
      text-align:center;
  }
  
  .tech-lists__container--roles {
      width: 475px;
  }
  
  .body--interior section {
      padding: 20px 50px;
  }
  
  .container--individual-work-example {
      flex-direction: row-reverse;
      justify-content: space-between;
  }
  
  .section--work-example-description {
      display: flex;
      flex-direction: column;
      justify-content: unset;
  }
  
  .section__image {
      max-width: 525px;
      width: 100%;
  }
  
  .section__container--description {
      max-width: none;
      width:100%;
  }
  
  .section--work-example {
      width: 49%;
  }
  
  //layout
  .section--intro {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }

  .section__container--intro{
      width:48%;
  }

  .button--intro{
      margin:0;
  }
  
  
  }
  /******MQ min1300px****/
  @media only screen and (min-width:1300px){
  .work-container__example{
      width: 640px;
  }
  
  .work-image-container {
      width: 600px;
      height: 450px;
   }
 .work-image-container__mask {
      width: 600px;
      height: 450px;
  }
  .work-image-container__image {
      width:600px;
      padding-top:75px;
  }

  .section__image {
      max-width: 650px;
      width: 100%;
  }
  
  }/*end MQ 1300*/
  
  /******background-animation*******/
  .background-animation {
      display: none;
  }
  
  svg#Layer_1 {
      position: absolute;
      top: 30px;
      left: -40px;
      width:106%;
      opacity:1;
      z-index:-2;
      overflow:hidden;
      transform:translateZ(0);
      
  }
  .st0{fill:$color-main-primary;}
  .st1{fill:$color-dot-green;}
  .st2{fill:$color-orange;}
  .st2{fill:$color-dot-purple;}
  .st2{fill:$color-purple;}
  .st3{fill:$color-dot-green;}
  
  
  
  .st0, .st1, .st2, .st3{
      -moz-transform: rotate(20deg) translate(0px, -200px);
      -webkit-transform: rotate(20deg) translate(0px, -200px);
      -o-transform: rotate(20deg) translate(0px, -200px);
      -ms-transform: rotate(20deg) translate(0px, -200px);
      transform: rotate(35deg) translate(250px, 0px);
      fill:$color-purple;
      fill:$color-main-white;
  }
  .blue-dots, .green-dots, .orange-dots{
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: 1;
  }
  
  .js-stop-animation{
      animation-duration: 0s;
  }
  
  .row2 .green-dots{
  animation-delay: .2s;
  }
  
  .row3 .orange-dots{
  animation-delay: .3s;
  }
  
  .row4 .blue-dots{
  animation-delay: .4s;
  }
  
  .row5 .green-dots{
  animation-delay: .5s;
  }
  
  .row6 .orange-dots{
  animation-delay: .6s;
  }
  .row7 .blue-dots{
  animation-delay: .7s;
  }
  
  .row8 .green-dots{
  animation-delay: .8s;
  }
  .row9 .orange-dots{
  animation-delay: .9s;
  }
  .row10 .blue-dots{
  animation-delay: 1s;
  
  }
  
  .row11 .green-dots{
  animation-delay: 1.1s;
  
  }
  .row12 .orange-dots{
  animation-delay: 1.2s;	
  }
  .row13 .blue-dots{
  animation-delay: 1.3s;	
  }
  .row14 .green-dots{
  animation-delay: 1.4s;
  }
  .row15 .orange-dots{
  animation-delay: 1.5s;
  }
  .row16 .blue-dots{
  animation-delay: 1.6s;
  }
  .row17 .green-dots{
  animation-delay: 1.7s;
  }
  .row18 .orange-dots{
  animation-delay: 1.8s;
  }
  .row19 .blue-dots{
  animation-delay: 1.9s;
  }
  .row20 .green-dots{
  animation-delay: 2s;
  }
  .row21 .orange-dots{
  animation-delay: 2.1s;
  }
  .row22 .blue-dots{
  animation-delay: 2.2s;
  }
  .row23 .green-dots{
  animation-delay: 2.3s;
  }
  .row24 .orange-dots{
  animation-delay: 2.4s;
  }
  .row25 .blue-dots{
  animation-delay: 2.5s;
  }
  .row26 .green-dots{
  animation-delay: 2.6s;
  }
  .row27 .orange-dots{
  animation-delay: 2.7s;
  }
  .row28 .blue-dots{
  animation-delay: 2.8s;
  }
  .row29 .green-dots{
  animation-delay: 2.9s;
  }
  .row30 .orange-dots{
  animation-delay: 3s;
  }
  .row31 .blue-dots{
  animation-delay: 3.1s;
  }
  .row32 .green-dots{
  animation-delay: 3.2s;
  }
  .row33 .orange-dots{
  animation-delay: 3.3s;
  }
  .row34 .blue-dots{
  animation-delay: 3.4s;
  }
  .row35 .green-dots{
  animation-delay: 3.5s;
  }
  .row36 .orange-dots{
  animation-delay: 3.6s;
  }
  .row37 .blue-dots{
  animation-delay: 3.7s;
  }
  .row38.green-dots{
  animation-delay: 3.8s;
  }
  .row39 .orange-dots{
  animation-delay: 3.9s;
  }
  .row40 .blue-dots{
  animation-delay: 4s;
  }
  .row41 .green-dots{
  animation-delay: 4.1s;
  }
  .row42 .orange-dots{
  animation-delay: 4.2s;
  }
  .row43 .blue-dots{
  animation-delay: 4.3s;
  }
  .row44 .green-dots{
  animation-delay: 4.4s;
  }
  .row45 .orange-dots{
  animation-delay: 4.5s;
  }
  .row46 .blue-dots{
  animation-delay: 4.6s;
  }
  .row47 .green-dots{
  animation-delay: 4.7s;
  }
  .row48 .orange-dots{
  animation-delay: 4.8s;
  }
  .row49 .blue-dots{
  animation-delay: 4.9s;
  }
  .row50 .green-dots{
  animation-delay: 5s;
  }
  .row51 .orange-dots{
  animation-delay: 5.1s;
  }
  
  .no-animation{
      animation-duration: 0s;
  }
  
  
  @keyframes opacity {
  0%, 100% {
      fill:$color-purple;
    transform: rotate(35deg) translate(61px, -650px);
  }
  25%{
      fill:$color-dot-green;
      /*transform: rotate(45deg) translate(61px, -650px);*/
  }
  50% {
      fill:$color-main-primary;
    transform: rotate(60deg) translate(61px, -650px);
  }
  75%{
  fill:$color-dot-green;
      /*transform: rotate(45deg) translate(61px, -650px);*/
  }
  }
  
  @media only screen and (min-width:600px){
  
      svg#Layer_1 {
      position: absolute;
      top: -60px;
      }
  
      .st0, .st1, .st2, .st3{
          -moz-transform: rotate(35deg) translate(61px, -650px);
          -webkit-transform: rotate(35deg) translate(61px, -650px);
          -o-transform: rotate(35deg) translate(61px, -650px);
          -ms-transform: rotate(35deg) translate(61px, -650px);
          transform: rotate(35deg) translate(61px, -550px);
          fill:$color-purple;
      }
  
      @keyframes opacity {
          0%, 100% {
              fill:$color-purple;
              transform: rotate(35deg) translate(61px, -550px);
          }
          25%{
              fill:$color-dot-green;
              /*transform: rotate(45deg) translate(61px, -650px);*/
          }
          50% {
              fill:$color-main-primary;
              transform: rotate(60deg) translate(61px, -550px);
          }
          75%{
          fill:$color-dot-green;
              /*transform: rotate(45deg) translate(61px, -650px);*/
          }
          }
  }
  
  @media only screen and (min-width:960px){
  
      .background-animation {
          display: block;
      }
  
      svg#Layer_1 {
          top: -95px;
          }
  
  
      .st0, .st1, .st2, .st3{
          -moz-transform: rotate(35deg) translate(61px, -650px);
          -webkit-transform: rotate(35deg) translate(61px, -650px);
          -o-transform: rotate(35deg) translate(61px, -650px);
          -ms-transform: rotate(35deg) translate(61px, -650px);
          transform: rotate(35deg) translate(61px, -650px);
          fill:$color-purple;
      }
  
      @keyframes opacity {
          0%, 100% {
              fill:$color-purple;
            transform: rotate(35deg) translate(61px, -650px);
          }
          25%{
              fill:$color-dot-green;
              /*transform: rotate(45deg) translate(61px, -650px);*/
          }
          50% {
              fill:$color-main-primary;
            transform: rotate(60deg) translate(61px, -650px);
          }
          75%{
          fill:$color-dot-green;
              /*transform: rotate(45deg) translate(61px, -650px);*/
          }
          }
  }
  