/*possible fonts
font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Michroma', sans-serif;
*/
/* possible colors
white: #fff (background and font) 
blue: #00003d (background and font) 
green: #007900 (highlights) 
yellow:#fff22d (highlights) 
orange: #d5652c (highlights)
purple:#460a86 (hghlights)

*/
* {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
    width: 100%;
}

  
body {
    margin: 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color:#00003d;
    overflow-x: hidden;
    width: 100%;
}

.interior-page-main{
    margin-top:2.5em;
}

.small-font{
    font-size:.75em;
        margin-block-start: .25em;
        margin-block-end: .25em;
}/*to decrease the spacing between p and h on mobile*/
h2 + p {
    margin-block-start: .5em;
}

header{
    position: fixed;
    z-index: 100;
    border-bottom: 1px gray solid;
    width: 100%;
    text-align: right;
    height: 55px;
}


.no-scroll-header{
    background-color: white;
}

.scroll-header{
    background-color: white;
}

nav{
    display:none;
}

nav.mobile-nav{
    display:block;
    position: absolute;
    right: 0;
    background-color: #00003d;
    height: 100vh;
    width: 100%;
    top: 0;
    
}

nav.mobile-nav a{
    color: #fff;
    text-decoration:none;
}

.nav-link a {
    font-size: 26px;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    display: block;
    list-style-type: none;
    margin-top: 30px;
}

.nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
         
}

.mobile-nav .nav{
    flex-direction: column;
    align-items: center;     
}

li{
    padding-top:20px;
}

.nav-link {
    padding-top:40px;
}

.nav li{
    width:100px;
    text-align:center;
}


.mobile-menu-icon-container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index:100;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color:  #460a86  ;
    margin: 6px 0;
    transition: 0.4s;
  }

.bar2{
    background-color:#00003d;
}

.bar3{
    background-color:#007900;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color:#fff22d; 
   
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color:#d5652c;
  }


section {
    position: relative;
    text-align:left;
    padding:30px 20px; 
}

.interior-page section{
    padding:30px 10px;
}

#about{
    padding:0px; 
    background-color:#00003d;
    color:#fff;
}

.about{
    padding:30px 20px; 
}

a{
    color:#00003d;
    text-decoration:none;
}

.white-link{
    color:#fff;
    
}

h1,h2, h3{
    font-family: 'Michroma', sans-serif;
}

h1{
    margin: 0;
    font-size:22px;
}

h2{
    margin: 0;
    text-align:left;
    font-size:22px;
}
 h3{
     font-size: 20px;
     margin:0;
 }


.block{
    display:block;
}

.center-align{
    text-align: center;
}

.subheading{
    padding-top:10px;
    font-size: 19px;
    font-style: italic;
}
.home-page{
    height: 50vh;
    text-align:center;
}

.home-page a{
    padding: 10px;
    border: 2px solid green;
    background-color: #fff;
    display: block;
    width: 160px;
    text-decoration: none;
    margin:auto;
    margin-top: 15px;
    text-align: center;
}

.tagline{
    display:flex;
    flex-direction: column;
    text-align: center;
}

.centered-content {
    margin-top: 65px;
    text-align: center;
    width: 100%;
}

#blog{
    background-color:#00003d;
    color:#fff;
}


.mobile-buttons {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    margin-bottom: 60px;
}

.button, button{
    padding: 10px;
    border: 1px solid #007900;
    width: 100px;
    background-color: #fff;
    display:block;
    font-size:18px;
    text-align:center;
}

.solo-button{
    display:block;
    margin:auto;
    margin-top:20px;
    width:150px;
    text-align:center;
}

.blue-inside-button{
    background-color:#00003d;
    color:#fff;
}

.purple-button{
    border: 1px solid #460a86;
}
.orange-button{
    border: 1px solid #d5652c;
}

.work-image {
    max-width: 300px;
    display: block;
    margin: auto;
}

.work-thumbnail {
    width: 220px;
    height: 200px;
    border: 1px solid black;
    margin: 20px auto;
}

.blog-thumbnail {
    width: 220px;
    height: 200px;
    border: 1px solid #fff;
    margin: 20px auto;
}

.contact-form {
    width: 325px;
    height: 300px;
    border: 1px solid black;
    margin: 20px auto;
    display:none;
}

.thumb-size-button {
    padding: 5px 10px;
    border: #000 1px solid;
}

.icon-button {
    width: 40px;
    
}

.social {
    margin-bottom: 50px;
}

.social img, .icon-button {
    width: 60px;
    
}

.display__desktop{
    display: none;
}

.work-example{
    display: none;
    margin-top: 30px;
}

.work-links a {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration:underline;
    font-size:16px;
}

.js-toggle__display{
    display: block;
}

.mobile-buttons :focus{

}

.purple-button:focus {
    outline: #460a86 5px auto;
}

.orange-button:focus{
    outline: #d5652c 5px auto; 
}

.green-button:focus {
    outline: #007900 5px auto;
}

.green-button.button-active {
    border: 1px solid #007900;
    background-color: #007900;
    color:#fff;
}

.purple-button.button-active{
    border: 1px solid #460a86;
    background-color: #460a86;
    color:#fff;
}
.orange-button.button-active{
    border: 1px solid #d5652c;
    background-color: #d5652c;
    color:#fff;
}

.marker {
    height: 30px;
}

.interior-page h1 {
    text-align: center;
}

/*****interior pages***/
.work-section{
    margin-top:1em;
}

.individual-work-sample-image {
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: 1em;
}

/********Media Queries*********/

@media only screen and (min-width:500px){
.home-page {
        height: 80vh;
    }

.image-wrapper{
    height:375px;
}

.work-image {
    max-height: 350px;
    max-width: none;
    border: solid 1px #00003d;
}
.individual-work-sample-image {
    max-width: 450px;   
}
}/*end of MQ500*/


@media only screen and (min-width:760px){
body {
    font-size: 18px;
    line-height: 1.3;
}

.blue-white-header.no-scroll-header{
    background-color: #00003D;
    color:#fff;
}

.blue-white-header a{
    color:#fff;
}

.nav-link a {
    font-size: 18px;
}   

.nav-link {
    padding-top:25px;
}

.mobile-menu-icon-container{
    display:none;
}

.link-active{
    border-bottom: 2px #460a86 solid;
    -webkit-animation-name: active-link;
    -webkit-animation-duration: 2.5s;
    animation-name: active-link;
    animation-duration: 2.5s;
    animation-fill-mode:forwards;
}

.interior-page section {
    padding: 30px 25px;
}

.interior-page h1 {
    text-align: left;
}

.individual-work-sample-image {
    max-width: 650px;   
}

@keyframes active-link {
    0% {
        border-bottom: 2px #460a86 solid;     
    }
    
    100%{
        border-bottom: 0px #460a86 solid;     
    }
    }

nav {
    display: block;
    width: 425px;
    position: absolute;
    right: 10px;
}

.nav li {
    width: 75px;
    padding-top: 10px;
}

ul{
    margin-top: 0px;
}

header{
    border-bottom:0px solid #00003D;
    height:40px;
    background-color:transparent;
    transition: border-bottom-width 2s ;
    border-bottom-width: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,.25);
}

.no-scroll-header{
    background-color: transparent;
   
}

.scroll-header{
    background-color:#fff;
    border-bottom: solid #d5652c;
    border-bottom-width:2px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.25);
}


.clearHeader.darkHeader {
background:#000;
}


.nav a:active {
    border-bottom: orange solid 2px;
}

.home-page {
    height: 70vh;
}
}/*end of MQ760px*/

@media only screen and (min-width:960px){
.home-page {
    height: 100vh;
}

.centered-content {
    margin-top: 0px;
    text-align: left;
    position: absolute;
    top: 230px;
    left: 75%;
    width:600px;
    transform: translate(-75%,-50%);
}

.tagline{
    display: block;
    text-align: left;
}

.home-page a{
    margin:0;
    margin-top:15px;
}

#about {
    display: flex;
    justify-content: space-between;
    min-height: 960px;
}

.about{
    width: 45%;
    padding: 30px 40px;
}

#skills ul{
    position:relative;
}

.mobile-buttons{
    display:none;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}

.work-example{
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

h3{
    text-align:center;
}

footer {
    display: flex;
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

.footer-top, .footer-bottom {
    width: 400px;
    display:flex;
    justify-content: space-between;
}

.footer-bottom{
    flex-direction: column;
    align-items: flex-end;
}

#contact .center-align {
    text-align: left;
}

.contact-button-about{
    position: absolute;
    left: 49px;
    bottom: 7%;
}


}/*end MQ 960*/

@media only screen and (min-width:1060px){
#about {
    min-height: 725px;
}
}

/******background-animation*******/
svg#Layer_1 {
    position: absolute;
    top: 30px;
    left: 0;
    width:100%;
    opacity:1;
    z-index:-2;
    overflow:hidden;
    transform:translateZ(0);
    
}
.st0{fill:#00003D;}
.st1{fill:#65A12C;}
.st2{fill:#ee710c;}
.st2{fill:#4a0f31;}
.st2{fill:#460a86;}
.st3{fill:#65A12C;}



.st0, .st1, .st2, .st3{
    -moz-transform: rotate(20deg) translate(0px, -200px);
    -webkit-transform: rotate(20deg) translate(0px, -200px);
    -o-transform: rotate(20deg) translate(0px, -200px);
    -ms-transform: rotate(20deg) translate(0px, -200px);
    transform: rotate(35deg) translate(250px, 0px);
    fill:#460a86;
}
.blue-dots, .green-dots, .orange-dots{
-webkit-animation-name: opacity;
-webkit-animation-duration: 10s;
-webkit-animation-iteration-count: infinite;
animation-name: opacity;
/*animation-duration: 10s;*/
animation-duration: 10s;
animation-iteration-count: 3;
}


.row2 .green-dots{
animation-delay: .2s;
}

.row3 .orange-dots{
animation-delay: .3s;
}

.row4 .blue-dots{
animation-delay: .4s;
}

.row5 .green-dots{
animation-delay: .5s;
}

.row6 .orange-dots{
animation-delay: .6s;
}
.row7 .blue-dots{
animation-delay: .7s;
}

.row8 .green-dots{
animation-delay: .8s;
}
.row9 .orange-dots{
animation-delay: .9s;
}
.row10 .blue-dots{
animation-delay: 1s;

}

.row11 .green-dots{
animation-delay: 1.1s;

}
.row12 .orange-dots{
animation-delay: 1.2s;	
}
.row13 .blue-dots{
animation-delay: 1.3s;	
}
.row14 .green-dots{
animation-delay: 1.4s;
}
.row15 .orange-dots{
animation-delay: 1.5s;
}
.row16 .blue-dots{
animation-delay: 1.6s;
}
.row17 .green-dots{
animation-delay: 1.7s;
}
.row18 .orange-dots{
animation-delay: 1.8s;
}
.row19 .blue-dots{
animation-delay: 1.9s;
}
.row20 .green-dots{
animation-delay: 2s;
}
.row21 .orange-dots{
animation-delay: 2.1s;
}
.row22 .blue-dots{
animation-delay: 2.2s;
}
.row23 .green-dots{
animation-delay: 2.3s;
}
.row24 .orange-dots{
animation-delay: 2.4s;
}
.row25 .blue-dots{
animation-delay: 2.5s;
}
.row26 .green-dots{
animation-delay: 2.6s;
}
.row27 .orange-dots{
animation-delay: 2.7s;
}
.row28 .blue-dots{
animation-delay: 2.8s;
}
.row29 .green-dots{
animation-delay: 2.9s;
}
.row30 .orange-dots{
animation-delay: 3s;
}
.row31 .blue-dots{
animation-delay: 3.1s;
}
.row32 .green-dots{
animation-delay: 3.2s;
}
.row33 .orange-dots{
animation-delay: 3.3s;
}
.row34 .blue-dots{
animation-delay: 3.4s;
}
.row35 .green-dots{
animation-delay: 3.5s;
}
.row36 .orange-dots{
animation-delay: 3.6s;
}
.row37 .blue-dots{
animation-delay: 3.7s;
}
.row38.green-dots{
animation-delay: 3.8s;
}
.row39 .orange-dots{
animation-delay: 3.9s;
}
.row40 .blue-dots{
animation-delay: 4s;
}
.row41 .green-dots{
animation-delay: 4.1s;
}
.row42 .orange-dots{
animation-delay: 4.2s;
}
.row43 .blue-dots{
animation-delay: 4.3s;
}
.row44 .green-dots{
animation-delay: 4.4s;
}
.row45 .orange-dots{
animation-delay: 4.5s;
}
.row46 .blue-dots{
animation-delay: 4.6s;
}
.row47 .green-dots{
animation-delay: 4.7s;
}
.row48 .orange-dots{
animation-delay: 4.8s;
}
.row49 .blue-dots{
animation-delay: 4.9s;
}
.row50 .green-dots{
animation-delay: 5s;
}
.row51 .orange-dots{
animation-delay: 5.1s;
}

.no-animation{
    animation-duration: 0s;
}


@keyframes opacity {
0%, 100% {
    fill:#460a86;
  transform: rotate(35deg) translate(61px, -650px);
}
25%{
    fill:#65A12C;
    /*transform: rotate(45deg) translate(61px, -650px);*/
}
50% {
    fill:#00003D;
  transform: rotate(60deg) translate(61px, -650px);
}
75%{
fill:#65A12C;
    /*transform: rotate(45deg) translate(61px, -650px);*/
}
}

@media only screen and (min-width:600px){

    svg#Layer_1 {
    position: absolute;
    top: -60px;
    }

    .st0, .st1, .st2, .st3{
        -moz-transform: rotate(35deg) translate(61px, -650px);
        -webkit-transform: rotate(35deg) translate(61px, -650px);
        -o-transform: rotate(35deg) translate(61px, -650px);
        -ms-transform: rotate(35deg) translate(61px, -650px);
        transform: rotate(35deg) translate(61px, -550px);
        fill:#460a86;
    }

    @keyframes opacity {
        0%, 100% {
            fill:#460a86;
            transform: rotate(35deg) translate(61px, -550px);
        }
        25%{
            fill:#65A12C;
            /*transform: rotate(45deg) translate(61px, -650px);*/
        }
        50% {
            fill:#00003D;
            transform: rotate(60deg) translate(61px, -550px);
        }
        75%{
        fill:#65A12C;
            /*transform: rotate(45deg) translate(61px, -650px);*/
        }
        }
}

@media only screen and (min-width:960px){

    svg#Layer_1 {
        top: -100px;
        }


    .st0, .st1, .st2, .st3{
        -moz-transform: rotate(35deg) translate(61px, -650px);
        -webkit-transform: rotate(35deg) translate(61px, -650px);
        -o-transform: rotate(35deg) translate(61px, -650px);
        -ms-transform: rotate(35deg) translate(61px, -650px);
        transform: rotate(35deg) translate(61px, -650px);
        fill:#460a86;
    }

    @keyframes opacity {
        0%, 100% {
            fill:#460a86;
          transform: rotate(35deg) translate(61px, -650px);
        }
        25%{
            fill:#65A12C;
            /*transform: rotate(45deg) translate(61px, -650px);*/
        }
        50% {
            fill:#00003D;
          transform: rotate(60deg) translate(61px, -650px);
        }
        75%{
        fill:#65A12C;
            /*transform: rotate(45deg) translate(61px, -650px);*/
        }
        }
}



.work-description{
    max-width:600px;
}

.work-image-container {
    width: 600px;
    height: 450px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,.5);
    cursor: default;
}
.work-image-container .work-image-mask, .work-image-container .content {
    width: 600px;
    height: 450px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.work-image-container img {
    display: block;
    position: relative;
    width:600px;
}
.work-image-container h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.work-image-container p {
    font-size: 18px;
    position: relative;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
.work-image-container .fake-button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #d5652c;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    width: 150px;
}
.work-image-container a.info:hover {
    box-shadow: 0 0 5px #000
}

.work-image-container-effect img { 
	transform: scaleY(1);
	transition: all 1.4s ease-in-out;
}
.work-image-container-effect .work-image-mask { 
    background-color: rgba(0, 0, 61, 1); 
    transition: all 1s linear;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}	
.work-image-container-effect h3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #fff;
    transition: all 1s linear;
    opacity: 0;
}
.work-image-container-effect p {
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: all 1s linear;
}
.work-image-container-effect a.info { 
    opacity: 0;
    transform: scale(0);
    transition: all 1s linear;
}

.work-image-container-effect:hover img { 
/*	transform: scale(10);*/
    opacity: 0;
}
.work-image-container-effect:hover .work-image-mask { 
    opacity: 1;
    cursor: pointer;
}																			 
.work-image-container-effect:hover h3,
.work-image-container-effect:hover p,
.work-image-container-effect:hover a.info{ 
    transform: scale(1);
    opacity: 1;
}