/*possible fonts

*/
/* possible colors

*/
* {
  box-sizing: border-box;
}
  
body {
    text-align: center;
}

header{
    position: fixed;
    background-color: white;
    z-index: 100;
    border-bottom: 1px gray solid;
    width: 100%;
    text-align: right;
    height: 55px;
}

nav{
    position:absolute;
    right: 10px;
    top: 10px;
}

.mobile-menu-icon-container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

section {
    position: relative;
    height: 20vh;
}

ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}


section:nth-child(odd){
  background-color:grey;
}

h1{
    margin: 0;
    position: absolute;
    transform: translate(50%,50%);
    top: 50%;
    right: 50%;
}

h2{
    margin: 0;
    position: absolute;
    transform: translate(50%,34%);
    top: 34%;
    right: 50%;
}

.home-page{
    height: 50vh;
}

.home-page button{
    margin: 0;
    position: absolute;
    transform: translate(50%,50%);
    top: 65%;
    right: 50%;

}
  


