* {
  box-sizing: border-box; }

html {
  overflow-x: hidden;
  width: 100%;
  font-size: 62.5%; }

body {
  margin: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  line-height: 1.4;
  color: #00003d;
  overflow-x: hidden;
  width: 100%; }

p {
  font-size: 1.75rem; }

ul {
  padding-inline-start: 0; }

li {
  padding-top: 20px;
  list-style-type: none; }

h3 {
  text-align: center; }

.note {
  font-size: 1.4rem; }

.small-font {
  font-size: 1.25rem;
  margin-block-start: .25em;
  margin-block-end: .25em; }

/*to decrease the spacing between p and h on mobile*/
h2 + p {
  margin-block-start: .5em; }

header {
  position: fixed;
  z-index: 100;
  border-bottom: 1px gray solid;
  width: 100%;
  text-align: right;
  height: 55px; }

.main--interior {
  margin-top: 85px; }

/*next three classes need to be in this order*/
.no-scroll-header {
  background-color: #fff; }

.scroll-header {
  background-color: #fff; }

.header--blue-white {
  background-color: #00003d;
  color: #fff; }

.nav {
  display: none; }

.nav.mobile-nav {
  display: block;
  position: absolute;
  right: 0;
  background-color: #00003d;
  height: 100vh;
  width: 100%;
  top: 0; }

.mobile-nav .nav__list-item-link {
  color: #fff;
  text-decoration: none; }

.mobile-nav .nav__list-item:hover {
  border-bottom: 2px #ee710c solid; }

.nav__list-item-link {
  font-size: 2.25rem; }

.nav__list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  display: block;
  list-style-type: none;
  margin-top: 0px; }

.nav__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.mobile-nav .nav__list {
  flex-direction: column;
  align-items: center; }

.nav__list-item {
  padding-top: 40px; }

.nav__list-with-sub {
  padding-top: 40px; }

.nav__list li {
  width: 100px;
  text-align: center; }

.nav__list-with-sub > li:nth-child(1) {
  padding-top: 0; }

.header__mobile-menu-icon-container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100; }

.header__mobile-menu-icon-container--bar1,
.header__mobile-menu-icon-container--bar2,
.header__mobile-menu-icon-container--bar3 {
  width: 35px;
  height: 5px;
  background-color: #460a86;
  margin: 6px 0;
  transition: 0.4s; }

.header__mobile-menu-icon-container--bar2 {
  background-color: #00003d; }

.header__mobile-menu-icon-container--bar3 {
  background-color: #007900; }

.header--blue-white .header__mobile-menu-icon-container--bar1, .header--blue-white .header__mobile-menu-icon-container--bar2, .header--blue-white .header__mobile-menu-icon-container--bar3 {
  background-color: #fbcb43; }

.header--blue-white .header__mobile-menu-icon-container--bar2 {
  background-color: #fff; }

.header--blue-white .header__mobile-menu-icon-container--bar3 {
  background-color: #ee710c; }

/* Rotate first bar */
.change .header__mobile-menu-icon-container--bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #fbcb43; }

/* Fade out the second bar */
.change .header__mobile-menu-icon-container--bar2 {
  opacity: 0; }

/* Rotate last bar */
.change .header__mobile-menu-icon-container--bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(43deg) translate(-8px, -8px);
  background-color: #ee710c; }

section {
  position: relative;
  text-align: left;
  padding: 30px 10px; }

.body--interior section {
  padding: 25px 15px;
  padding-bottom: 0px; }

.section--about {
  padding: 0px;
  background-color: #00003d;
  color: #fff; }

.section--work {
  background-color: #fff; }

.section__about-container {
  padding: 30px 20px; }

a {
  color: #00003d;
  text-decoration: none; }

.white-link {
  color: #fff; }

h1, h2, h3 {
  font-family: 'Michroma', sans-serif; }

h1 {
  margin: 0;
  font-size: 2.3rem; }

h2 {
  margin: 0;
  text-align: center;
  font-size: 2rem; }

h3 {
  font-size: 2rem;
  margin: 0; }

blockquote {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-style: italic; }

cite {
  display: inline-block;
  padding-top: 5px; }

.block {
  display: block; }

.section--work--heading {
  text-align: center; }

.section--home {
  height: 50vh;
  text-align: center; }

.section--home a {
  font-size: 1.75rem;
  padding: 10px;
  border: 2px solid #007900;
  background-color: #fff;
  display: block;
  width: 160px;
  text-decoration: none;
  margin: auto;
  margin-top: 15px;
  text-align: center; }

.main__heading--secondary {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  font-size: 1.9rem;
  font-style: italic; }

.centered-content {
  margin-top: 65px;
  text-align: center;
  width: 100%; }

#blog {
  background-color: #00003d;
  color: #fff; }

.button, button {
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #007900;
  width: 120px;
  background-color: #fff;
  display: block;
  font-size: 1.8rem;
  text-align: center; }

button:hover {
  cursor: pointer; }

.button--wider {
  width: 150px;
  margin: 10px; }

.button-container--toggle-work {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px auto;
  margin-bottom: 60px; }

.button-container--toggle-work button {
  padding: 7px;
  width: 150px; }

.button.button-active {
  background-color: #007900;
  color: #fff; }

.button--solo {
  display: block;
  margin: auto;
  margin-top: 25px;
  width: 150px;
  text-align: center; }

.button--orange-blue {
  border: 1px solid #ee710c;
  background-color: #00003d;
  color: #fff; }

.button--blue {
  border: 1px solid #00003d; }

.button--purple {
  border: 1px solid #460a86; }

.button--orange {
  border: 1px solid #ee710c; }

.button--blue:hover {
  border: 1px solid #ee710c; }

.button--green:hover {
  border: 1px solid #ee710c; }

.button--purple:focus {
  outline: #460a86 5px auto; }

.button--orange:focus, .button--orange-blue:focus {
  outline: #ee710c 5px auto; }

.button--green:focus {
  outline: #007900 5px auto; }

.button--blue:focus {
  outline: #00003d 5px auto; }

.button--green.button-active {
  border: 1px solid #007900;
  background-color: #007900;
  color: #fff; }

.button--blue.button-active {
  border: 1px solid #00003d;
  background-color: #00003d;
  color: #fff; }

.button--purple.button-active {
  border: 1px solid #460a86;
  background-color: #460a86;
  color: #fff; }

.orange-button.button-active, .button--orange-blue.button-active {
  border: 1px solid #ee710c;
  background-color: #ee710c;
  color: #fff; }

.work-image {
  max-width: 300px;
  display: block;
  margin: auto; }

.work-thumbnail {
  width: 220px;
  height: 200px;
  border: 1px solid #000;
  margin: 20px auto; }

.blog-thumbnail {
  width: 220px;
  height: 200px;
  border: 1px solid #fff;
  margin: 20px auto; }

.contact-form {
  width: 325px;
  height: 300px;
  border: 1px solid #000;
  margin: 20px auto;
  display: none; }

.thumb-size-button {
  padding: 5px 10px;
  border: #000 1px solid; }

.icon-button {
  width: 40px; }

.social {
  margin-bottom: 50px; }

.social img, .icon-button {
  width: 60px; }

.display__desktop {
  display: none; }

.work-container__example {
  display: none;
  margin-top: 60px;
  position: relative; }

.work-links a {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: underline;
  font-size: 1.6rem; }

.js-toggle__display {
  display: block; }

.marker {
  height: 15px; }

.work-image-container__description {
  max-width: 600px; }

.work-container__example__heading {
  text-align: center;
  margin-bottom: -25px; }

.work-image-container {
  width: 300px;
  height: 225px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  /*box-shadow: 0px 2px 3px 1px rgba(0,0,0,.5);*/
  cursor: default; }

.work-image-container__mask {
  width: 300px;
  height: 225px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; }

.work-image-container__image {
  display: block;
  position: relative;
  width: 300px;
  padding-top: 37.5px; }

.work-image-container__heading {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1.5rem;
  padding: 10px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0; }

.work-image-container p {
  font-size: 1.7rem;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0; }

.work-container__example__button {
  display: inline-block;
  padding: 7px 14px;
  background: #ee710c;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  width: 165px; }

.work-container__example__button--mobile {
  display: block;
  text-decoration: none;
  padding: 6px;
  background-color: #460a86;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  width: 115px;
  margin: auto;
  margin-top: 0px;
  font-size: 1.4rem;
  text-align: center; }

.work-image-container__image {
  transform: scaleY(1);
  transition: all 1.4s ease-in-out; }

.work-image-container__mask {
  background-color: #00003d;
  transition: all .5s linear;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.work-image-container__heading {
  border-bottom: 1px solid #fff;
  background: transparent;
  margin: 20px 0px 0px 0px;
  transform: scale(0);
  color: #fff;
  transition: all 1s linear;
  opacity: 0; }

.work-image-container-effect p {
  color: #fff;
  opacity: 0;
  transform: scale(0);
  transition: all 1s linear; }

.work-image-container-effect a.info {
  opacity: 0;
  transform: scale(0);
  transition: all 1s linear; }

.section--contact {
  padding-bottom: 0; }

/*****interior pages***/
.work-section {
  margin-top: 0em; }

.tech-lists__container--used {
  padding-top: 50px; }

.tech-lists__container--roles {
  margin-top: 1em; }

.container--individual-work-example {
  display: flex;
  flex-direction: column-reverse;
  padding: 50px 0; }

.body--interior h1 {
  text-align: center;
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ee710c;
  width: 90%;
  margin: auto; }

.section__image {
  max-width: 300px;
  display: block;
  margin: auto;
  margin-top: 1em; }

.section__image-border {
  border: 1px solid #00003d; }

.section--intro {
  display: flex;
  flex-direction: column;
  align-items: center; }

.section--work-example-description {
  display: flex;
  flex-direction: column; }

.button-container--cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 0; }

.button-container--cta .button:hover {
  border: 2px solid #007900; }

.contact-button {
  width: 150px;
  border: 0px solid #007900;
  background-color: #007900;
  color: #fff; }

.button-container--cta .contact-button:hover {
  background-color: #fff;
  color: #460a86;
  border: 1px #460a86 solid; }

.button-container--cta a:nth-child(2) {
  order: 3; }

.button--bouncy {
  -webkit-animation: bouncy 5s infinite linear;
  animation: bouncy 5s infinite linear;
  position: relative; }

.button--bouncy:nth-child(2) {
  animation-delay: .07s; }

.button--bouncy:nth-child(3) {
  animation-delay: .14s; }

@keyframes bouncy {
  0% {
    top: 0em; }
  40% {
    top: 0em; }
  43% {
    top: -0.9em; }
  46% {
    top: 0em; }
  48% {
    top: -0.4em; }
  50% {
    top: 0em; }
  100% {
    top: 0em; } }

@-webkit-keyframes bouncy {
  0% {
    top: 0em; }
  40% {
    top: 0em; }
  43% {
    top: -0.9em; }
  46% {
    top: 0em; }
  48% {
    top: -0.4em; }
  50% {
    top: 0em; }
  100% {
    top: 0em; } }

/***My Role and Technology Buttons****/
.list--tech {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }

.list__item--role, .list__item--tech {
  border-bottom: 2px solid #ee710c;
  border-color: #ee710c;
  width: 145px;
  height: 45px;
  line-height: 42px;
  vertical-align: middle;
  padding: 0;
  text-align: center;
  display: inline-block;
  margin-top: 10px;
  font-size: 1.75rem; }

.list__item--role {
  height: 48px;
  line-height: 45px; }

.list__item--tech {
  width: 117px; }

.list__item--role-2-lines {
  height: 48px;
  line-height: 21px; }

@keyframes role-item {
  0% {
    border-color: #ee710c; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #ee710c; } }

.list__item--role {
  -webkit-animation: role-item 2s ease infinite;
  animation: role-item 2s ease infinite; }

@keyframes role-item-2 {
  0% {
    border-color: #460a86; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #460a86; } }

.list__item--role-2 {
  -webkit-animation: role-item-2 4s ease infinite;
  animation: role-item-2 4s ease infinite;
  animation-delay: .2s; }

@keyframes role-item-3 {
  0% {
    border-color: #00003d; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #00003d; } }

.list__item--role-3 {
  -webkit-animation: role-item-3 4s ease infinite;
  animation: role-item-3 4s ease infinite;
  animation-delay: .4s; }

@keyframes role-item-4 {
  0% {
    border-color: #007900; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #007900; } }

.list__item--role-4 {
  -webkit-animation: role-item-4 4s ease infinite;
  animation: role-item-4 4s ease infinite;
  animation-delay: .6s; }

@keyframes tech-item {
  0% {
    border-color: #ee710c; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #ee710c; } }

.list__item--tech {
  -webkit-animation: tech-item 3s ease infinite;
  animation: tech-item 3s ease infinite; }

@keyframes tech-item-2 {
  0% {
    border-color: #460a86; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #460a86; } }

.list__item--tech-2 {
  -webkit-animation: tech-item-2 4s ease infinite;
  animation: tech-item-2 4s ease infinite;
  animation-delay: .2s; }

@keyframes tech-item-3 {
  0% {
    border-color: #00003d; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #00003d; } }

.list__item--tech-3 {
  -webkit-animation: tech-item-3 4s ease infinite;
  animation: tech-item-3 4s ease infinite;
  animation-delay: .4s; }

@keyframes tech-item-4 {
  0% {
    border-color: #007900; }
  20% {
    border-color: #fbcb43; }
  40%, 100% {
    border-color: #007900; } }

.list__item--tech-4 {
  -webkit-animation: tech-item-4 4s ease infinite;
  animation: tech-item-4 4s ease infinite;
  animation-delay: .6s; }

.mobile-display {
  display: block; }

.desktop-display {
  display: none; }

.section__about-container__list {
  position: relative;
  padding-inline-start: 0px; }

.section__about-container__list-item {
  font-size: 1.75rem;
  padding-top: 0px;
  line-height: 1.75; }

.section__about-container__list-item--heading {
  font-size: 1.8rem;
  padding-bottom: 5px;
  padding-top: 15px;
  line-height: 1.4;
  font-family: 'Michroma', sans-serif; }

.section__about-container__list-item--heading--1 {
  padding-top: 9px; }

/********Media Queries*********/
@media only screen and (min-width: 500px) {
  .section--home {
    height: 80vh; }
  .image-wrapper {
    height: 375px; }
  .work-image-container {
    width: 450px;
    height: 337.5px; }
  .work-image-container__mask {
    width: 450px;
    height: 337.5px; }
  .work-image-container__image {
    width: 450px;
    padding-top: 56.25px; }
  .work-container__example__heading {
    margin-bottom: -45px; }
  .work-container__example__button--mobile {
    margin-top: -25px; }
  .work-image {
    max-height: 350px;
    max-width: none;
    border: solid 1px #00003d; }
  .section__image {
    max-width: 450px; } }

/*end of MQ500*/
@media only screen and (min-width: 760px) {
  .header__mobile-menu-icon-container--bar1,
  .header__mobile-menu-icon-container--bar2,
  .header__mobile-menu-icon-container--bar3 {
    background-color: #460a86; }
  .header__mobile-menu-icon-container--bar2 {
    background-color: #00003d; }
  .header__mobile-menu-icon-container--bar3 {
    background-color: #007900; }
  .nav__list-item a {
    font-size: 1.8rem; }
  .nav__list-item a:hover {
    color: #007900; }
  .nav__list-item {
    padding-top: 25px; }
  .header__mobile-menu-icon-container {
    display: none; }
  .link-active {
    border-bottom: 3px #007900 solid; }
  .body--interior section {
    padding: 20px 25px; }
  .work-container__example {
    margin-top: 85px; }
  .work-image-container {
    width: 510px;
    height: 382.5px; }
  .work-image-container__mask {
    width: 510px;
    height: 382.5px; }
  .work-image-container__image {
    width: 510px;
    padding-top: 63.75px; }
  .section__heading--tech-lists {
    text-align: center; }
  .section--work-example-description {
    flex-direction: row;
    justify-content: space-between; }
  .section__container--description {
    max-width: 500px;
    margin: 0 20px;
    width: 48%; }
  .section__container--description.no-updates-section {
    max-width: 800px;
    width: 100%; }
  .section__image {
    max-width: 650px; }
  .nav {
    display: block;
    width: 425px;
    position: absolute;
    right: 10px; }
  .nav__list li, ul.nav__list-with-sub {
    width: 75px;
    padding-top: 10px; }
  .nav__list-with-sub li {
    width: 225px; }
  .nav__list-with-sub li:hover {
    background-color: #ee710c;
    display: block; }
  .nav__list-with-sub > li:nth-child(1) {
    padding-top: 0;
    background-color: transparent;
    display: block;
    width: 75px; }
  .nav__list__sub-nav-container {
    display: none;
    position: absolute;
    right: 5px;
    top: 33px;
    background-color: #ee710c;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  .nav__list__sub-nav-container a {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left; }
  .nav__list__sub-nav-container li:nth-last-child(1) a {
    padding-bottom: 16px; }
  .nav__list-with-sub:hover .nav__list__sub-nav-container {
    display: block; }
  .nav__list__sub-nav-container a:hover {
    background-color: #ee710c; }
  ul {
    margin-top: 0px; }
  header {
    border-bottom: 0px solid #00003d;
    height: 45px;
    background-color: transparent;
    transition: border-bottom-width 2s;
    border-bottom-width: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25); }
  .no-scroll-header {
    background-color: transparent; }
  .scroll-header {
    background-color: #fff;
    border-bottom: solid #ee710c;
    border-bottom-width: 2px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25); }
  .header--blue-white {
    background-color: #00003d;
    color: #fff; }
  .header--blue-white a {
    color: #fff; }
  .nav__list-with-sub a {
    border-bottom: 2px solid #fff; }
  .header--blue-white a:hover {
    border-bottom: 2px solid #ee710c;
    color: #fff; }
  .header--blue-white a.focused-link {
    border-bottom: 0px #ee710c solid; }
  .clearHeader.darkHeader {
    background: #000; }
  .section--home {
    height: 60vh; }
  .button-container--cta a:nth-child(2) {
    order: 2; }
  .button-container--cta a:nth-child(3) {
    order: 3; }
  .list__item--role, .list__item--tech {
    font-size: 1.85rem; } }

/*end of MQ760px*/
@media only screen and (min-width: 960px) {
  .section--tech-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .tech-lists__container {
    width: 44%; }
  .tech-lists__container--used {
    padding-top: 0px;
    margin-top: 1em; }
  .mobile-display {
    display: none; }
  .desktop-display {
    display: block; }
  .section__heading {
    text-align: center; }
  .section--home {
    height: 100vh; }
  .centered-content {
    margin-top: 0px;
    text-align: left;
    position: absolute;
    top: 230px;
    left: 75%;
    width: 600px;
    transform: translate(-75%, -50%); }
  .main__heading--secondary {
    display: block;
    text-align: left; }
  .section--home a {
    margin: 0;
    margin-top: 15px; }
  .section--about {
    display: flex;
    justify-content: space-between;
    min-height: 960px; }
  .section__about-container {
    width: 48%;
    padding: 30px 40px;
    padding-bottom: 100px; }
  /*.section__about-container--skills {
      width: 57%;
  }*/
  .section__about-container__list-item--2 {
    line-height: 1.75; }
  .work-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .work-container__example {
    width: 544px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
    margin-top: 3em; }
  .work-container__example.js-toggle__display {
    display: flex; }
  .section__container--intro {
    max-width: 900px;
    margin-top: 1em; }
  .list--tech {
    margin-top: 5px; }
  /**hover effects for work examples on laptop and bigger devices*/
  .work-container__example__button--mobile {
    display: none; }
  .work-image-container a.info:hover {
    box-shadow: 0 0 5px #000; }
  .work-image-container-effect:hover img {
    /*	transform: scale(10);*/
    opacity: 0; }
  .work-image-container-effect:hover .work-image-container__mask {
    opacity: 1;
    cursor: pointer; }
  .work-image-container-effect:hover .work-image-container__heading,
  .work-image-container-effect:hover p,
  .work-image-container-effect:hover a.info {
    transform: scale(1);
    opacity: 1; }
  .footer {
    display: flex;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between; }
  .footer__contact, .footer__other {
    width: 400px;
    display: flex;
    justify-content: space-between; }
  .footer__other {
    flex-direction: column;
    align-items: flex-end; }
  .section--contact--heading {
    text-align: left; }
  .body--interior h1 {
    text-align: center;
    padding-left: 25px;
    padding-top: 25px; }
  .work-image-container-effect h3 {
    margin: 20px 40px 0px 40px; } }

/*end MQ 960*/
@media only screen and (min-width: 1060px) {
  .section--about {
    min-height: 725px; }
  .section__heading {
    text-align: left; }
  .section__heading--tech-lists {
    text-align: center; }
  .tech-lists__container--roles {
    width: 475px; }
  .body--interior section {
    padding: 20px 50px; }
  .container--individual-work-example {
    flex-direction: row-reverse;
    justify-content: space-between; }
  .section--work-example-description {
    display: flex;
    flex-direction: column;
    justify-content: unset; }
  .section__image {
    max-width: 525px;
    width: 100%; }
  .section__container--description {
    max-width: none;
    width: 100%; }
  .section--work-example {
    width: 49%; }
  .section--intro {
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
  .section__container--intro {
    width: 48%; }
  .button--intro {
    margin: 0; } }

/******MQ min1300px****/
@media only screen and (min-width: 1300px) {
  .work-container__example {
    width: 640px; }
  .work-image-container {
    width: 600px;
    height: 450px; }
  .work-image-container__mask {
    width: 600px;
    height: 450px; }
  .work-image-container__image {
    width: 600px;
    padding-top: 75px; }
  .section__image {
    max-width: 650px;
    width: 100%; } }

/*end MQ 1300*/
/******background-animation*******/
.background-animation {
  display: none; }

svg#Layer_1 {
  position: absolute;
  top: 30px;
  left: -40px;
  width: 106%;
  opacity: 1;
  z-index: -2;
  overflow: hidden;
  transform: translateZ(0); }

.st0 {
  fill: #00003d; }

.st1 {
  fill: #007900; }

.st2 {
  fill: #ee710c; }

.st2 {
  fill: #460a86; }

.st2 {
  fill: #460a86; }

.st3 {
  fill: #007900; }

.st0, .st1, .st2, .st3 {
  -moz-transform: rotate(20deg) translate(0px, -200px);
  -webkit-transform: rotate(20deg) translate(0px, -200px);
  -o-transform: rotate(20deg) translate(0px, -200px);
  -ms-transform: rotate(20deg) translate(0px, -200px);
  transform: rotate(35deg) translate(250px, 0px);
  fill: #460a86;
  fill: #fff; }

.blue-dots, .green-dots, .orange-dots {
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 6s;
  animation-iteration-count: 1; }

.js-stop-animation {
  animation-duration: 0s; }

.row2 .green-dots {
  animation-delay: .2s; }

.row3 .orange-dots {
  animation-delay: .3s; }

.row4 .blue-dots {
  animation-delay: .4s; }

.row5 .green-dots {
  animation-delay: .5s; }

.row6 .orange-dots {
  animation-delay: .6s; }

.row7 .blue-dots {
  animation-delay: .7s; }

.row8 .green-dots {
  animation-delay: .8s; }

.row9 .orange-dots {
  animation-delay: .9s; }

.row10 .blue-dots {
  animation-delay: 1s; }

.row11 .green-dots {
  animation-delay: 1.1s; }

.row12 .orange-dots {
  animation-delay: 1.2s; }

.row13 .blue-dots {
  animation-delay: 1.3s; }

.row14 .green-dots {
  animation-delay: 1.4s; }

.row15 .orange-dots {
  animation-delay: 1.5s; }

.row16 .blue-dots {
  animation-delay: 1.6s; }

.row17 .green-dots {
  animation-delay: 1.7s; }

.row18 .orange-dots {
  animation-delay: 1.8s; }

.row19 .blue-dots {
  animation-delay: 1.9s; }

.row20 .green-dots {
  animation-delay: 2s; }

.row21 .orange-dots {
  animation-delay: 2.1s; }

.row22 .blue-dots {
  animation-delay: 2.2s; }

.row23 .green-dots {
  animation-delay: 2.3s; }

.row24 .orange-dots {
  animation-delay: 2.4s; }

.row25 .blue-dots {
  animation-delay: 2.5s; }

.row26 .green-dots {
  animation-delay: 2.6s; }

.row27 .orange-dots {
  animation-delay: 2.7s; }

.row28 .blue-dots {
  animation-delay: 2.8s; }

.row29 .green-dots {
  animation-delay: 2.9s; }

.row30 .orange-dots {
  animation-delay: 3s; }

.row31 .blue-dots {
  animation-delay: 3.1s; }

.row32 .green-dots {
  animation-delay: 3.2s; }

.row33 .orange-dots {
  animation-delay: 3.3s; }

.row34 .blue-dots {
  animation-delay: 3.4s; }

.row35 .green-dots {
  animation-delay: 3.5s; }

.row36 .orange-dots {
  animation-delay: 3.6s; }

.row37 .blue-dots {
  animation-delay: 3.7s; }

.row38.green-dots {
  animation-delay: 3.8s; }

.row39 .orange-dots {
  animation-delay: 3.9s; }

.row40 .blue-dots {
  animation-delay: 4s; }

.row41 .green-dots {
  animation-delay: 4.1s; }

.row42 .orange-dots {
  animation-delay: 4.2s; }

.row43 .blue-dots {
  animation-delay: 4.3s; }

.row44 .green-dots {
  animation-delay: 4.4s; }

.row45 .orange-dots {
  animation-delay: 4.5s; }

.row46 .blue-dots {
  animation-delay: 4.6s; }

.row47 .green-dots {
  animation-delay: 4.7s; }

.row48 .orange-dots {
  animation-delay: 4.8s; }

.row49 .blue-dots {
  animation-delay: 4.9s; }

.row50 .green-dots {
  animation-delay: 5s; }

.row51 .orange-dots {
  animation-delay: 5.1s; }

.no-animation {
  animation-duration: 0s; }

@keyframes opacity {
  0%, 100% {
    fill: #460a86;
    transform: rotate(35deg) translate(61px, -650px); }
  25% {
    fill: #007900;
    /*transform: rotate(45deg) translate(61px, -650px);*/ }
  50% {
    fill: #00003d;
    transform: rotate(60deg) translate(61px, -650px); }
  75% {
    fill: #007900;
    /*transform: rotate(45deg) translate(61px, -650px);*/ } }

@media only screen and (min-width: 600px) {
  svg#Layer_1 {
    position: absolute;
    top: -60px; }
  .st0, .st1, .st2, .st3 {
    -moz-transform: rotate(35deg) translate(61px, -650px);
    -webkit-transform: rotate(35deg) translate(61px, -650px);
    -o-transform: rotate(35deg) translate(61px, -650px);
    -ms-transform: rotate(35deg) translate(61px, -650px);
    transform: rotate(35deg) translate(61px, -550px);
    fill: #460a86; }
  @keyframes opacity {
    0%, 100% {
      fill: #460a86;
      transform: rotate(35deg) translate(61px, -550px); }
    25% {
      fill: #007900;
      /*transform: rotate(45deg) translate(61px, -650px);*/ }
    50% {
      fill: #00003d;
      transform: rotate(60deg) translate(61px, -550px); }
    75% {
      fill: #007900;
      /*transform: rotate(45deg) translate(61px, -650px);*/ } } }

@media only screen and (min-width: 960px) {
  .background-animation {
    display: block; }
  svg#Layer_1 {
    top: -95px; }
  .st0, .st1, .st2, .st3 {
    -moz-transform: rotate(35deg) translate(61px, -650px);
    -webkit-transform: rotate(35deg) translate(61px, -650px);
    -o-transform: rotate(35deg) translate(61px, -650px);
    -ms-transform: rotate(35deg) translate(61px, -650px);
    transform: rotate(35deg) translate(61px, -650px);
    fill: #460a86; }
  @keyframes opacity {
    0%, 100% {
      fill: #460a86;
      transform: rotate(35deg) translate(61px, -650px); }
    25% {
      fill: #007900;
      /*transform: rotate(45deg) translate(61px, -650px);*/ }
    50% {
      fill: #00003d;
      transform: rotate(60deg) translate(61px, -650px); }
    75% {
      fill: #007900;
      /*transform: rotate(45deg) translate(61px, -650px);*/ } } }
